---
import { featuredEvents } from "../lib/featured";
import { GLOBAL } from "../lib/variables";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Hero from "../components/home/Hero.astro";
import Section from "../components/common/Section.astro";
import FeaturedEvents from "../components/home/FeaturedEvents.astro";
---

<Layout>
  <Fragment slot="head">
    <title>{GLOBAL.username} • {GLOBAL.shortDescription}</title>
    <meta name="description" content={GLOBAL.longDescription} />
    <meta
      property="og:title"
      content={`${GLOBAL.username} • ${GLOBAL.shortDescription}`}
    />
    <meta property="og:description" content={GLOBAL.longDescription} />
    <meta
      property="og:image"
      content={`${GLOBAL.rootUrl}/PDXOSR_transback.png`}
    />
    <meta property="og:url" content={GLOBAL.rootUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={`${GLOBAL.username} • ${GLOBAL.shortDescription}`}
    />
    <meta name="twitter:description" content={GLOBAL.longDescription} />
    <meta
      name="twitter:image"
      content={`${GLOBAL.rootUrl}/PDXOSR_transback.png`}
    />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={GLOBAL.rootUrl} />
  </Fragment>
  <Section class="my-16">
    <Hero />
    <div class="p-4">
      <p>
        <span class="font-bold"> PDX OSR </span> is Community-centric, inclusive
        space in Portland, OR for enthusiasts of non-mainstream RPGs, advocating
        for respect, diversity, and a passion for the old and new-school gaming.
      </p>
    </div>

    <div class="p-4">
      <h2 class="font-bold text-4xl">OSR Convention</h2>
      <p>
        We're excited to announce the OSR Convention on July 26th at Dark Water
        Pub. This event celebrates the rich OSR tabletop role-playing games.
        Whether you're a seasoned player or new to the scene, theres a seat for
        you at our games.
      </p>
      <div class="mt-4 mb-8">
        <a href="/events/osr-convention">
          <Button> OSR Convention Details </Button>
        </a>
      </div>
      <h1 class="font-bold text-4xl">Are you a GM?</h1>
      <p>
        Want to run a game at the <span class="font-bold">
          OSR Convention</span
        >?
      </p>
      <p>We would love to have you.</p>
      <div class="pt-4">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfLYlTzslgb1kJ8Ot9bXWU4PUMVhK4xjVCCpnhwmB1ELLONvQ/viewform"
        >
          <Button>Game Submission</Button>
        </a>
      </div>
      <div
        class="border-1 bg-gray-900 text-white border-gray-500 p-4 rounded-lg mt-8"
      >
        <h2 class="font-bold text-2xl">Join the RPG Revolution</h2>
        <div class="gap-2.5 flex flex-row gap-2.5 mt-4">
          <a href="https://discord.gg/tqKrfWCDYx">
            <Button>Discord</Button>
          </a>

          <a href="https://heylo.group/pdx-osr">
            <Button>Reserve your seat @ Heylo</Button>
          </a>
        </div>
      </div>
    </div>
  </Section>
  <Section>
    <FeaturedEvents featuredProjects={featuredEvents} />
  </Section>
</Layout>
